@import '/client/base' layer(base)
@import '@/components'
@import '@/components'

.dashboard {
  @import './scoped'
  @import './scoped'
}

.other {
  @import './scoped'
}

@import '/client/legacy.css'
