// line comment
/* block comment */
.button, .link:hover > a[href^="http"] {
  color: red
  background: url(img/a.png) no-repeat // trailing
  --empty:

  &:hover {
    color: blue !important
  }
}

.one-line { margin: 0 auto }
.empty {}
